<ion-header translucent>
  <ion-toolbar>
    <ion-title>Select location</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div>
    <ion-label>
      Enter address
    </ion-label>
    <ion-input [ngModel]="address" (ngModelChange)="handleLocations($event)"></ion-input>
  </div>
  <ion-list *ngFor="let location of locations">
    <ion-item button (click)="onSelect(location)">
      {{ location.description }}
    </ion-item>
  </ion-list>
</ion-content>