<ion-header>
  <ion-toolbar>
    <ion-title>View Restaurant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <google-map height="300px" width="100%" [center]="geo">
      <map-marker [position]="geo" [title]="name"></map-marker>
    </google-map>
    <br />
  </div>
  <div>
    <div id="container">
      <ion-text>Rating</ion-text>
      <ion-range min="1" max="5" value={{rating}} color="primary" disabled></ion-range>
    </div>
    <div>
      <ion-card>
        <ion-card-header >
          {{restaurant.restaurantName}}
        </ion-card-header>
    
          <ion-item>
            <ion-icon name="location" item-start></ion-icon>
            <ion-label>location :</ion-label> 
            {{restaurant.address}}
          </ion-item>
          <ion-item>
            <ion-icon name="document-text-outline"></ion-icon>&nbsp;
            <ion-label>Description : </ion-label>
            {{restaurant.description}}
          </ion-item>
          <ion-item>
            <ion-icon name="pricetag-outline"></ion-icon>&nbsp;
            <ion-label>Tag : </ion-label>
            {{restaurant.tag}}
          </ion-item>
      </ion-card>
      <ion-button expand="block" color="success" (click)="goToLocation()" >Get Direction</ion-button>
      <ion-button expand="block" color="warning" (click)="navigateToEditRestaurant(restaurant.id)">Edit</ion-button>
      <ion-button class="button-large row" color="primary" (click)="appComponent.goBack()">Back</ion-button> 
    </div> 
  </div>
</ion-content> 