<ion-header>
  <ion-toolbar>
    <ion-title>View Restaurant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <google-map height="300px" width="100%" [center]="geo">
      <map-marker [position]="geo" [title]="name"></map-marker>
    </google-map>
    <br />
  </div>
        <ion-button expand="block" color="success" (click)="goToLocation()">Get Direction</ion-button>
  <div>
    <div>
      <ion-card>
        <ion-card-header >
          {{restaurant.restaurantName}}
        </ion-card-header>
    
          <ion-item>
            <ion-icon name="location" item-start></ion-icon>
            <ion-label>location :</ion-label> 
            {{restaurant.address}}
          </ion-item>
          <ion-item>
            <ion-icon name="document-text-outline"></ion-icon>&nbsp;
            <ion-label>Description : </ion-label>
            {{restaurant.description}}
          </ion-item>
          <ion-item>
            <ion-icon name="pricetag-outline"></ion-icon>&nbsp;
            <ion-label>Tag : </ion-label>
            {{restaurant.tag}}
          </ion-item>
      </ion-card>

      <ion-button expand="block" color="warning" (click)="navigateToEditRestaurant(restaurant.id)">Edit</ion-button>

      <div id="container">
        <ion-text>Review</ion-text>
        <ion-range snaps min="1" max="5" step="1" [(ngModel)]="rating" color="primary">
          <ion-icon slot="start" size="small" color="danger" name="sad-outline"></ion-icon>
          <ion-icon slot="end" color="success" name="happy"></ion-icon>
        </ion-range>
        <ion-textarea [(ngModel)]="comment" placeholder="Enter comment here..."></ion-textarea>
        <ion-button (click)="submitReview()">Submit Review</ion-button>
      </div>
    </div> 
  </div>

  <button (click)="getAllReview()">
    getall
  </button>
</ion-content> 