<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div *ngIf="error !== ''">
    <ion-text color="danger">
      {{ error }}
    </ion-text>
  </div>
  <div *ngIf="success !== ''">
    <ion-text color="success">
      {{ success }}
    </ion-text>
  </div>

  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" [(ngModel)]="email" [ngModelOptions]="{standalone:true}" (change)="onChange($event)"required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone:true}"(change)="onChange($event)" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="loginUser()"expand="block" [disabled]='disable'>Log In</ion-button>
        <ion-text style="margin-left: 2%;" role="link" (click)="navigateToRegister()">New User? Register</ion-text>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
