<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>addRestaurant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-modal [isOpen]="isSelectLocationModalOpen" [swipeToClose]="true">
    <ng-template>
      <app-select-location [onSelect]="setLocation" [toggleModal]="toggleSelectLocationModel"></app-select-location>
    </ng-template>
  </ion-modal>
  <div *ngIf="error !== ''">
    <ion-text color="danger">
      {{ error }}
    </ion-text>
  </div>
  <div *ngIf="success !== ''">
    <ion-text color="success">
      {{ success }}
    </ion-text>
  </div>
  <div>
    <ion-label>Name</ion-label>
    <ion-input type="text" placeholder="Enter name of restaurant" [(ngModel)]="name"></ion-input>
  </div>
  <div>
    <div>
      <ion-label>address</ion-label>
      <ion-button (click)="toggleSelectLocationModel()">
        Select Location
      </ion-button>
    </div>
    {{ location.description }}
  </div>
  <div>
    <ion-label>Description</ion-label>
    <ion-textarea type="text" placeholder="Enter Description" [(ngModel)]="description"></ion-textarea>
  </div>
  <div>
    <ion-label>Tags</ion-label>
    <div style="display: flex;">
      <ion-input [(ngModel)]="currentTagValue" style="width: 90%" placeholder="Enter here.."></ion-input>
      <ion-button (click)="addTag()" size="small">
        <ion-icon name="add">
        </ion-icon>
      </ion-button>
    </div>
    <div>
      <ion-label style="margin: 0 5px; padding: 3px; justify-self: center;" *ngFor="let tag of tags">
          {{ tag }}
          <ion-icon color="danger" (click)="removeTag(tag)"name="trash">
          </ion-icon>
      </ion-label>
    </div>
    <!-- <io`n-input type="text" placeholder="Enter tags" [(ngModel)]="tags"></ion-input> -->
  </div>
  <ion-button (click)="addRestaurant()" style="width: 100%" role="button">Add</ion-button>
  <ion-button color="danger" style="width: 100%" (click)="cancel()" role="button">Cancel</ion-button>
</ion-content>