<ion-header>
  <ion-toolbar>
    <ion-title>edit-restuarant</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-modal
    [isOpen]="isSelectLocationModalOpen"
    [swipeToClose]="true">
    <ng-template>
      <app-select-location
      [onSelect]="setLocation"
      [toggleModal]="toggleSelectLocationModel"
      ></app-select-location>
    </ng-template>
  </ion-modal>
  <div *ngIf="error !== ''">
    <ion-text color="danger">
      {{ error }}
    </ion-text>
  </div>
  <div *ngIf="success !== ''">
    <ion-text color="success">
      {{ success }}
    </ion-text>
  </div>
    <div id="container">
      <google-map
      height="300px"
      width="100%"
      [center]="geo">
        <map-marker
        [position]="geo"
        [title]="name"></map-marker>
      </google-map>
      <br/>
    </div>

    <div>
      
      <div>
        <ion-card>
          <ion-card-content>
          <div>
            <ion-label>Name :</ion-label>
            <ion-input [(ngModel)]="name" ></ion-input><br/>
          </div>
          <div>
          <ion-label>Address :</ion-label>
            <ion-input [(ngModel)]="address" disabled></ion-input>
          </div>
          <div>
            <ion-text color="primary" role='link' (click)="toggleSelectLocationModel()">change address ?</ion-text>
          </div>
          <div>
              <ion-label>Description :</ion-label>
              <ion-input [(ngModel)]="description"></ion-input>
          </div>
            <div>
              <ion-label>Tags</ion-label>
              <div style="display: flex;">
                <ion-input [(ngModel)]="currentTagValue" style="width: 90%" placeholder="Enter here.."></ion-input>
                <ion-button (click)="addTag()" size="small">
                  <ion-icon name="add">
                  </ion-icon>
                </ion-button>
              </div>
              <div>
                <ion-label style="margin: 0 5px; padding: 3px; justify-self: center;" *ngFor="let tag of tags">
                    {{ tag }}
                      <ion-icon color="danger" name="trash" (click)="removeTag(tag)">
                      </ion-icon>
                </ion-label>
              </div>
              <!-- <io`n-input type="text" placeholder="Enter tags" [(ngModel)]="tags"></ion-input> -->
            </div>
          </ion-card-content>
        </ion-card>

          <ion-button expand="block" (click)="handleSave()">Save</ion-button> 
          <ion-button expand="block" color="danger" (click)="appComponent.goBack()">Cancel</ion-button>
        
      </div>
    </div>
  </ion-content>
  
