<ion-header>
  <ion-toolbar>
    <ion-title>list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Test</h1>
  <ion-button (click)="navigateToAddRestaurant()">Add restaurant</ion-button>
  <div *ngIf="allRestaurant.length === 0">
    <ion-text>No restaurants!</ion-text>
  </div>
  <hr />
  <div style="display: flex; justify-content: space-between; margin: 3px;">
    <h3>All Restaurants</h3>
    <ion-button (click)="navigateToFilter()">
      Filter
    </ion-button>
  </div>
  <ion-list *ngFor="let item of allRestaurant">
    <ion-item>
      <ion-label>{{item.id}} - {{item.restaurantName}}</ion-label>
      <button 
      (click)='navigateToViewRestaurant(item.id)'>view</button>
      <button 
      (click)='navigateToEditRestaurant(item.id)'>Edit</button>
    </ion-item>
  </ion-list>
</ion-content>
