<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>edit-review</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <h3>Edit Review</h3>
    <ion-range snaps min="1" max="5" step="1" [(ngModel)]="rating" color="primary">
      <ion-icon slot="start" size="small" color="danger" name="sad-outline"></ion-icon>
      <ion-icon slot="end" color="success" name="happy"></ion-icon>
    </ion-range>
    <ion-textarea [(ngModel)]="comment" placeholder="Enter comment here..."></ion-textarea>
    <ion-button (click)="submitUpdatedReview()">Submit Review</ion-button>
  </div>
</ion-content>
