<ion-header>
  <ion-toolbar>
    <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div>
      <ion-label>Restaurant name</ion-label>
      <ion-input [(ngModel)]="value" placeholder="Enter here.."></ion-input>
    </div>
    <div>
      <ion-label>Tags</ion-label>
      <div style="display: flex;">
        <ion-input [(ngModel)]="currentTagValue" style="width: 90%" placeholder="Enter here.."></ion-input>
        <ion-button (click)="addTag()" size="small">
          <ion-icon name="add">
          </ion-icon>
        </ion-button>
      </div>
      <div>
        <ion-label style="margin: 0 5px; padding: 3px; justify-self: center;" *ngFor="let tag of tags">
            {{ tag }}
            <ion-icon color="danger" (click)="removeTag(tag)"name="trash">
            </ion-icon>
        </ion-label>
      </div>
      <!-- <io`n-input type="text" placeholder="Enter tags" [(ngModel)]="tags"></ion-input> -->
    </div>
    <ion-button (click)="search()" expand="block">
      Search
    </ion-button>
  </div>
  <hr />
  <ion-list *ngFor="let restaurant of restaurants">
    <ion-item>
      <ion-label>{{restaurant.id}} - {{restaurant.restaurantName}}</ion-label>
      <button 
      (click)='navigateToViewRestaurant(restaurant.id)'>view</button>
      <button 
      (click)='navigateToEditRestaurant(restaurant.id)'>Edit</button>
      <button ion-item (click)='navigateToEditRestaurant(restaurant.id)'> 
        <ion-icon name="edit" item-start></ion-icon>
        Edit
      </button>
  
    </ion-item>
  </ion-list>
</ion-content>
