<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="error !== ''">
    <ion-text color="danger">
      {{ error }}
    </ion-text>
  </div>
  <div *ngIf="success !== ''">
    <ion-text color="success">
      {{ success }}
    </ion-text>
  </div>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">First name</ion-label>
      <ion-input type="text"[ngModelOptions]="{standalone:true}"[(ngModel)]="firstName" (change)="onChange($event)" required ></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Last name</ion-label>
      <ion-input type="text"[ngModelOptions]="{standalone:true}"[(ngModel)]="lastName" (change)="onChange($event)" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text"[ngModelOptions]="{standalone:true}"[(ngModel)]="email" (change)="onChange($event)" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [ngModelOptions]="{standalone:true}"[(ngModel)]="password" (change)="onChange($event)" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" (click)="handleRegistration()" [disabled]="disable">Sign Up</ion-button>
      </ion-col>
    </ion-row>
    <ion-text style="margin-left: 2%;" (click)="goToLogin()">Already registered? Login</ion-text>
  </form>

</ion-content>
